{% extends 'blog/index.html.twig' %}
{% block body %}
    Bonjour, je suis l'article {{article.name}}
    <br>
    Catégorie : {{ article.category.name }}
    
    <section>
    {% for comment in article.comments %}
    <div>
    	<h5>Commentaire écrit par {{ comment.author }} le {{ comment.createdAt | date("d-m-Y") }}</h5>
    	<p>
    	{{ comment.content }}
    	</p>
    </div>
    {% endfor %}
    </section>
    
    <section>
    {{ form_start(formComment) }}
    {{ form_widget(formComment) }}
    <button type="submit">Ajouter un commentaire</button>
    {{ form_end(formComment) }}
    </section>
{%  endblock %}
