<ul>
    {% if not app.user %}
        <li><a href="{{ path('security_subscribe') }}">S'inscrire</a></li>
        <li><a href="{{ path('security_login') }}">Connexion</a></li>
    {% else %}
        <li><a href="{{ path('security_logout') }}">Deconnexion</a></li>
    {% endif %}
    <li><a href="{{ path('blog') }}">Blog</a></li>
    <li><a href="{{ path('blog_create') }}">Create</a></li>
    
</ul>
