<ul>
    {% if route is defined and route != "login" %}
    <li><a href="{{ path('login') }}">Connexion</a></li>
    <li><a href="{{ path('blog') }}">Blog</a></li>
    <li><a href="{{ path('blog_create') }}">Create</a></li>
    {% elseif route is not defined %}
    <li><a href="{{ path('login') }}">Connexion</a></li>
    <li><a href="{{ path('blog') }}">Blog</a></li>
    <li><a href="{{ path('blog_create') }}">Create</a></li>
    {% endif %}
    <li><a href="{{ path('subscribe') }}">S'inscrire</a></li>
</ul>
